*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.size-transition{
    width: 150px;
    height: 100px;
    background-color: purple;
    color: white;
    justify-content: center;
    align-content: center; 
    display: flex;
    flex-wrap: wrap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: width 0.3s, height 0.3s ease;
}   

/* Pseudo-classe hover*/
.size-transition:hover{
    width: 200px;
    height: 150px;
    font-size: 1.5rem;
}